@import "../../index.scss";

.loginForm {
  max-width: 300px;
  margin: 15px 0px;
  padding: 10px;
  border: 1px solid $gray-400;
  border-radius: $border-radius;
  background-color: $white;

  label {
    margin-bottom: $spacer;
  }

  input {
    width: 100%;
    padding: $input-padding-y $input-padding-x;
    margin-bottom: $spacer;
    border: $input-border-width solid $gray-400;
    border-radius: $border-radius;
    background-color: $white;

    &:focus {
      border-color: $primary;
      box-shadow: 0 0 0 0.2rem rgba($primary, 0.25);
      background-color: $white;
    }
  }

  button {
    width: 100%;
    padding: $btn-padding-y $btn-padding-x;
    background-color: $primary;
    color: $white;
    border: none;
    border-radius: $border-radius;
    cursor: pointer;

    &:hover {
      background-color: darken($primary, 10%);
    }
  }
}
